.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1100px;
	background-color: white;
	color: var(--color-text-dark);
	border-radius: 25px;
	box-shadow: 1px 1px 10px #ababab;
	gap: 1rem;
	overflow: hidden;

	@media (max-width: 768px) {
        flex-direction: column;
        gap: 0;
    }

	&__img {
		height: 380px;

		@media (max-width: 768px) {
			height: max-content;
			width: 100%;
			border-bottom-left-radius: 0;
			border-top-left-radius: 25px;
			border-top-right-radius: 25px;
			object-fit: cover;
			object-position: center;
		}
	}

	&__holder {
		display: flex;
        flex-direction: column;
		padding: 16px;
        gap: .5rem;
	}

	&__title {
		font-size: 24px;
		font-weight: 600;
	}

	&__info {
		color: var(--color-button);
		font-size: 16px;
		margin-bottom: 1rem;
	}

	&__description {
		color: black;
	    font-size: 14px;
	}
}