.home {
	display: flex;
	flex-direction: column;
	gap: 7.5rem;
	margin: 7.5rem 0;

	@media (max-width: 768px) {
		gap: 4rem;
		margin: 4rem 0;
	}

	&__video {
		width: 100%;
		box-shadow: 1px 1px 10px #b6b6b6;
		border-radius: 10px;
	}
}