.program {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text-dark);
	gap: 2rem;

	@media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        margin: 2rem 0;
    }

	&__image {
		width: 100%;
		max-height: 400px;
		max-width: 400px;
	}

	&__holder {
		display: flex;
		flex-direction: column;
		max-width: 480px;
		gap: 1rem;
	}

	&__title {
		font-size: 2rem;
		font-weight: 500;
	}

	&__lists {
		display: flex;
		flex-direction: column;
		gap: 1rem;
        margin-top: 1rem;
        font-size: 18px;
        font-weight: 500;
	}

	&__list {
		display: flex;
		justify-content: start;
		align-items: center;
		gap: 0.5rem;

		&_icon {

		}

		&_text {
			font-size: 1rem;
			font-weight: 600;
		}
	}

	&__button {
		width: max-content;
	}
}